# Dataset folders
test/
valid/
train/


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
ENV/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

/downloaded_videos/
/detection_results/

/DNN_RECOGNISE/models/arcface_r100.onnx
